# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# xDruple
vendor
sites/*/application
sites/*/libraries
sites/*/modules
sites/*/themes
